.certificate.mt-40.mb-40
  .container
    .title.fw-bold.text-center Сертификаты и Документы
    .swiper.certificate-js
      .swiper-wrapper
        .swiper-slide.certificate__item
          a(href="https://chlorela.com.ua/wp-content/uploads/2020/11/cert1.jpg" data-fancybox="cetrificate")
            .certificate__magazine              
              img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/cert1.jpg", alt="")
        .swiper-slide.certificate__item
          a(href="https://chlorela.com.ua/wp-content/uploads/2020/11/cert2.jpg" data-fancybox="cetrificate")
            .certificate__magazine              
              img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/cert2.jpg", alt="")
        .swiper-slide.certificate__item
          a(href="https://chlorela.com.ua/wp-content/uploads/2020/11/cert3.jpg" data-fancybox="cetrificate")
            .certificate__magazine              
              img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/cert3.jpg", alt="")
        .swiper-slide.certificate__item
          a(href="https://chlorela.com.ua/wp-content/uploads/2020/11/cert4.jpg" data-fancybox="cetrificate")
            .certificate__magazine              
              img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/cert4.jpg", alt="")
        
        .swiper-slide.certificate__item
          a(href="https://chlorela.com.ua/wp-content/uploads/2020/11/cert1.jpg" data-fancybox="cetrificate")
            .certificate__magazine              
              img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/cert1.jpg", alt="")
        .swiper-slide.certificate__item
          a(href="https://chlorela.com.ua/wp-content/uploads/2020/11/cert2.jpg" data-fancybox="cetrificate")
            .certificate__magazine              
              img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/cert2.jpg", alt="")
        .swiper-slide.certificate__item
          a(href="https://chlorela.com.ua/wp-content/uploads/2020/11/cert3.jpg" data-fancybox="cetrificate")
            .certificate__magazine              
              img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/cert3.jpg", alt="")
        .swiper-slide.certificate__item
          a(href="https://chlorela.com.ua/wp-content/uploads/2020/11/cert4.jpg" data-fancybox="cetrificate")
            .certificate__magazine              
              img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/cert4.jpg", alt="")
        
      .navigation    
        .prev
          i.fal.fa-angle-left
        .next
          i.fal.fa-angle-right
