.contacts
  .contacts__wrap.d-flex.align-center
    .contacts__col.contacts__col_contacts
      .title.fw-bold Get in touch
      include ../includes/contacts-list
      
              

    .contacts__col
      #map