.faq
  .container 
    .title.fw-bold.text-center Часто задаваемые вопросы
    
    each question in[1,2,3,4]
      .faq__item 
        .faq__question.d-flex.align-center.justify-between
          span.d-flex.align-center Question
          .icon.question-js
  
        .faq__answer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fuga eos et earum nisi ab. Dicta, asperiores tempora. Facere aut ea velit consequatur dolores earum explicabo officiis animi neque in!
