footer.footer.pt-50.pb-50
  .container
    .footer__wrap.d-flex.justify-between
      .footer__col
        a.footer__logo.mb-25.d-flex.align-center.justify-center(href="#")
          img(src="images/dist/footer_logo.svg", alt="") 
        p.mb-15 Nwork international gida sağlik güzelli̇k ti̇caret ve pazarlama ltd.şti̇

        include ../includes/contacts-list

      .footer__col
        .title Agreements
        ul
          li.mb-10
            a(href="#") Distance Sales Agreement 
          li.mb-10
            a(href="#") Return Conditions 
          li.mb-10
            a(href="#") Distributor Agreement 
          li.mb-10
            a(href="#") Our Ethical Principles 
          li
            a(href="#") WEB SITE PRIVACY POLICY 

      .footer__col
        .title E-Mail Subscription
        p.mb-25 All innovations from the campaign and notified by e-mail to subscribe.

        form(action="#")
          .subscribe.d-flex.align-center
            input(type="text" placeholder="Type your e-mail address.") 
            button(type="submit")
              .icon 
                svg(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M14.4453 0.242251C14.9434 -0.0507179 15.5879 0.359438 15.4707 0.945376L13.3613 13.6016C13.3027 14.0704 12.8047 14.334 12.3945 14.1583L8.76172 12.6055L6.88672 14.8907C6.47656 15.3887 5.65625 15.1251 5.65625 14.4219V12.0489L12.6875 3.46491C12.834 3.28913 12.5996 3.08405 12.4531 3.23053L4.04492 10.6426L0.910154 9.32428C0.38281 9.1192 0.324216 8.35748 0.85156 8.06452L14.4453 0.242251Z' fill='white')

        .social.social_light
          ul.d-flex.mt-20.ml-10
            li 
              a(href="#")
                svg(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M19.3455 16.125H16.6182V24H12.9818V16.125H10V12.8906H12.9818V10.3945C12.9818 7.58203 14.7273 6 17.3818 6C18.6545 6 20 6.24609 20 6.24609V9.02344H18.5091C17.0545 9.02344 16.6182 9.86719 16.6182 10.7812V12.8906H19.8545L19.3455 16.125Z' fill='#7DAD52')
            li 
              a(href="#")
                svg(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M14.5 7C19.1613 7 23 10.8387 23 15.5C23 20.1956 19.1613 24 14.5 24C9.80444 24 6 20.1956 6 15.5C6 10.8387 9.80444 7 14.5 7ZM12.0665 19.75C14.5 19.75 16.1452 18.0363 16.1452 15.6028C16.1452 15.3629 16.1109 15.123 16.0766 14.9173H12.0665V16.3569H14.4657C14.2944 17.5222 13.1633 18.1734 12.0665 18.1734C10.5927 18.1734 9.42742 16.9738 9.42742 15.5C9.42742 14.0605 10.5927 12.8266 12.0665 12.8266C12.6835 12.8266 13.3004 13.0323 13.746 13.4778L14.9113 12.381C14.123 11.627 13.129 11.25 12.0665 11.25C9.70161 11.25 7.81653 13.1694 7.81653 15.5C7.81653 17.8649 9.70161 19.75 12.0665 19.75ZM19.9496 16.1169H21.1492V14.9173H19.9496V13.6835H18.75V14.9173H17.5161V16.1169H18.75V17.3508H19.9496V16.1169Z' fill='#7DAD52')
            li 
              a(href="#")
                svg(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M20.9286 7C21.4978 7 22 7.50223 22 8.10491V20.9286C22 21.5313 21.4978 22 20.9286 22H8.03795C7.46875 22 7 21.5313 7 20.9286V8.10491C7 7.50223 7.46875 7 8.03795 7H20.9286ZM11.5201 19.8571V12.7254H9.31027V19.8571H11.5201ZM10.4152 11.721C11.1183 11.721 11.6875 11.1518 11.6875 10.4487C11.6875 9.74554 11.1183 9.14286 10.4152 9.14286C9.67857 9.14286 9.10938 9.74554 9.10938 10.4487C9.10938 11.1518 9.67857 11.721 10.4152 11.721ZM19.8571 19.8571V15.9397C19.8571 14.0313 19.4219 12.5246 17.1786 12.5246C16.1071 12.5246 15.3705 13.1272 15.0692 13.6964H15.0357V12.7254H12.9263V19.8571H15.1362V16.3415C15.1362 15.404 15.3036 14.5 16.4754 14.5C17.6138 14.5 17.6138 15.5714 17.6138 16.375V19.8571H19.8571Z' fill='#7DAD52')
            li 
              a(href="#")
                svg(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M22.1683 11.4747C22.1683 11.6434 22.1683 11.7783 22.1683 11.947C22.1683 16.6361 18.4697 22 11.6712 22C9.55773 22 7.62035 21.4265 6 20.4145C6.2818 20.4482 6.5636 20.4819 6.88063 20.4819C8.60665 20.4819 10.1918 19.9084 11.4599 18.9639C9.83953 18.9301 8.46575 17.9181 8.00783 16.5012C8.2544 16.5349 8.46575 16.5687 8.71233 16.5687C9.02935 16.5687 9.38161 16.5012 9.66341 16.4337C7.9726 16.0964 6.7045 14.6795 6.7045 12.959V12.9253C7.19765 13.1952 7.79648 13.3301 8.3953 13.3639C7.37378 12.7229 6.73973 11.6434 6.73973 10.4289C6.73973 9.75422 6.91585 9.14699 7.23288 8.64096C9.06458 10.7663 11.8121 12.1831 14.8767 12.3518C14.8063 12.0819 14.771 11.812 14.771 11.5422C14.771 9.58554 16.4266 8 18.4697 8C19.5264 8 20.4775 8.40482 21.182 9.11325C21.9922 8.94458 22.8023 8.64096 23.5068 8.23615C23.225 9.07952 22.6614 9.75422 21.8865 10.1928C22.6262 10.1253 23.3659 9.92289 24 9.65301C23.5068 10.3614 22.8728 10.9687 22.1683 11.4747Z' fill='#7DAD52')
























