header.header.header_without-margin#header
  .container
    .header__flex-wrap.d-flex.justify-between
      a.header__logo(href="#").d-flex.justify-center.align-center.mr-20
        img(src="images/dist/header_logo.svg", alt="") 
      
      .header__control-panel.d-if.align-center.justify-center 
        a(href="#").btn.btn_bordered.mr-15 Sign In

        //- .lang.mr-30  
          .lang__selected.d-if.align-center.justify-center en
          .icon.ml-5
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M12.707 15.707C12.5195 15.8945 12.2652 15.9998 12 15.9998C11.7348 15.9998 11.4805 15.8945 11.293 15.707L5.63601 10.05C5.5405 9.95776 5.46431 9.84742 5.41191 9.72541C5.3595 9.60341 5.33191 9.47219 5.33076 9.33941C5.3296 9.20663 5.3549 9.07495 5.40519 8.95205C5.45547 8.82916 5.52972 8.7175 5.62361 8.62361C5.71751 8.52972 5.82916 8.45547 5.95205 8.40519C6.07495 8.3549 6.20663 8.3296 6.33941 8.33076C6.47219 8.33191 6.60341 8.3595 6.72541 8.41191C6.84742 8.46431 6.95776 8.5405 7.05001 8.63601L12 13.586L16.95 8.63601C17.1386 8.45385 17.3912 8.35305 17.6534 8.35533C17.9156 8.35761 18.1664 8.46278 18.3518 8.64819C18.5372 8.8336 18.6424 9.08441 18.6447 9.34661C18.647 9.6088 18.5462 9.86141 18.364 10.05L12.707 15.707Z' fill='white')

          .lang__dropdown 
            a.lang__option(href="#")  en
            a.lang__option(href="#")  ru

        //- a.cart-btn.d-if.align-center.justify-center.mr-20(href="#") 
          .cart-btn__count.d-if.align-center.justify-center 0
          .icon 
            svg(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30C23.2843 30 30 23.2843 30 15Z' fill='#686868')
              path(d='M23.06 13.4009V13.8384C23.06 14.2212 22.7592 14.4946 22.4037 14.4946H22.185L21.4467 19.4986C21.3647 20.1548 20.8178 20.6196 20.1616 20.6196H10.1811C9.5248 20.6196 8.97797 20.1548 8.89594 19.4986L8.185 14.4946H7.96625C7.58344 14.4946 7.31 14.2212 7.31 13.8384V13.4009C7.31 13.0454 7.58344 12.7446 7.96625 12.7446H9.7983L12.7241 8.7525C12.9975 8.3423 13.5444 8.2603 13.9272 8.5611C14.3373 8.8345 14.4194 9.3814 14.1186 9.7642L11.9584 12.7446H18.3842L16.2241 9.7642C15.9233 9.3814 16.0053 8.8345 16.4155 8.5611C16.7983 8.2603 17.3452 8.3423 17.6186 8.7525L20.5444 12.7446H22.4037C22.7592 12.7446 23.06 13.0454 23.06 13.4009ZM15.8412 18.2134V15.1509C15.8412 14.7954 15.5405 14.4946 15.185 14.4946C14.8022 14.4946 14.5287 14.7954 14.5287 15.1509V18.2134C14.5287 18.5962 14.8022 18.8696 15.185 18.8696C15.5405 18.8696 15.8412 18.5962 15.8412 18.2134ZM18.9037 18.2134V15.1509C18.9037 14.7954 18.603 14.4946 18.2475 14.4946C17.8647 14.4946 17.5912 14.7954 17.5912 15.1509V18.2134C17.5912 18.5962 17.8647 18.8696 18.2475 18.8696C18.603 18.8696 18.9037 18.5962 18.9037 18.2134ZM12.7787 18.2134V15.1509C12.7787 14.7954 12.478 14.4946 12.1225 14.4946C11.7397 14.4946 11.4662 14.7954 11.4662 15.1509V18.2134C11.4662 18.5962 11.7397 18.8696 12.1225 18.8696C12.478 18.8696 12.7787 18.5962 12.7787 18.2134Z' fill='white')

        .hamburger.d-if
          span
            svg(width='35' height='3' viewBox='0 0 35 3' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 1.5C0 0.671573 0.671573 0 1.5 0H33.5C34.3284 0 35 0.671573 35 1.5C35 2.32843 34.3284 3 33.5 3H1.5C0.671574 3 0 2.32843 0 1.5Z' fill='black')

          span
            svg(width='35' height='3' viewBox='0 0 35 3' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 1.5C0 0.671573 0.671573 0 1.5 0H33.5C34.3284 0 35 0.671573 35 1.5C35 2.32843 34.3284 3 33.5 3H1.5C0.671574 3 0 2.32843 0 1.5Z' fill='black')

          span
            svg(width='35' height='3' viewBox='0 0 35 3' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 1.5C0 0.671573 0.671573 0 1.5 0H33.5C34.3284 0 35 0.671573 35 1.5C35 2.32843 34.3284 3 33.5 3H1.5C0.671574 3 0 2.32843 0 1.5Z' fill='black')

    

header.header.header_sticky
  .container
    .header__flex-wrap.d-flex.justify-between
      a.header__logo(href="#").d-flex.justify-center.align-center.mr-20
        img(src="images/dist/header_logo.svg", alt="") 
      
      .header__control-panel.d-if.align-center.justify-center 
        a(href="#").btn.btn_bordered.mr-15 Sign In

        //- .lang.mr-30  
          .lang__selected.d-if.align-center.justify-center en
          .icon.ml-5
            svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' clip-rule='evenodd' d='M12.707 15.707C12.5195 15.8945 12.2652 15.9998 12 15.9998C11.7348 15.9998 11.4805 15.8945 11.293 15.707L5.63601 10.05C5.5405 9.95776 5.46431 9.84742 5.41191 9.72541C5.3595 9.60341 5.33191 9.47219 5.33076 9.33941C5.3296 9.20663 5.3549 9.07495 5.40519 8.95205C5.45547 8.82916 5.52972 8.7175 5.62361 8.62361C5.71751 8.52972 5.82916 8.45547 5.95205 8.40519C6.07495 8.3549 6.20663 8.3296 6.33941 8.33076C6.47219 8.33191 6.60341 8.3595 6.72541 8.41191C6.84742 8.46431 6.95776 8.5405 7.05001 8.63601L12 13.586L16.95 8.63601C17.1386 8.45385 17.3912 8.35305 17.6534 8.35533C17.9156 8.35761 18.1664 8.46278 18.3518 8.64819C18.5372 8.8336 18.6424 9.08441 18.6447 9.34661C18.647 9.6088 18.5462 9.86141 18.364 10.05L12.707 15.707Z' fill='white')

          .lang__dropdown 
            a.lang__option(href="#")  en
            a.lang__option(href="#")  ru

        //- a.cart-btn.d-if.align-center.justify-center.mr-20(href="#") 
          .cart-btn__count.d-if.align-center.justify-center 0
          .icon 
            svg(width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M30 15C30 6.71573 23.2843 0 15 0C6.71573 0 0 6.71573 0 15C0 23.2843 6.71573 30 15 30C23.2843 30 30 23.2843 30 15Z' fill='#686868')
              path(d='M23.06 13.4009V13.8384C23.06 14.2212 22.7592 14.4946 22.4037 14.4946H22.185L21.4467 19.4986C21.3647 20.1548 20.8178 20.6196 20.1616 20.6196H10.1811C9.5248 20.6196 8.97797 20.1548 8.89594 19.4986L8.185 14.4946H7.96625C7.58344 14.4946 7.31 14.2212 7.31 13.8384V13.4009C7.31 13.0454 7.58344 12.7446 7.96625 12.7446H9.7983L12.7241 8.7525C12.9975 8.3423 13.5444 8.2603 13.9272 8.5611C14.3373 8.8345 14.4194 9.3814 14.1186 9.7642L11.9584 12.7446H18.3842L16.2241 9.7642C15.9233 9.3814 16.0053 8.8345 16.4155 8.5611C16.7983 8.2603 17.3452 8.3423 17.6186 8.7525L20.5444 12.7446H22.4037C22.7592 12.7446 23.06 13.0454 23.06 13.4009ZM15.8412 18.2134V15.1509C15.8412 14.7954 15.5405 14.4946 15.185 14.4946C14.8022 14.4946 14.5287 14.7954 14.5287 15.1509V18.2134C14.5287 18.5962 14.8022 18.8696 15.185 18.8696C15.5405 18.8696 15.8412 18.5962 15.8412 18.2134ZM18.9037 18.2134V15.1509C18.9037 14.7954 18.603 14.4946 18.2475 14.4946C17.8647 14.4946 17.5912 14.7954 17.5912 15.1509V18.2134C17.5912 18.5962 17.8647 18.8696 18.2475 18.8696C18.603 18.8696 18.9037 18.5962 18.9037 18.2134ZM12.7787 18.2134V15.1509C12.7787 14.7954 12.478 14.4946 12.1225 14.4946C11.7397 14.4946 11.4662 14.7954 11.4662 15.1509V18.2134C11.4662 18.5962 11.7397 18.8696 12.1225 18.8696C12.478 18.8696 12.7787 18.5962 12.7787 18.2134Z' fill='white')

        .hamburger.d-if
          span
            svg(width='35' height='3' viewBox='0 0 35 3' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 1.5C0 0.671573 0.671573 0 1.5 0H33.5C34.3284 0 35 0.671573 35 1.5C35 2.32843 34.3284 3 33.5 3H1.5C0.671574 3 0 2.32843 0 1.5Z' fill='black')

          span
            svg(width='35' height='3' viewBox='0 0 35 3' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 1.5C0 0.671573 0.671573 0 1.5 0H33.5C34.3284 0 35 0.671573 35 1.5C35 2.32843 34.3284 3 33.5 3H1.5C0.671574 3 0 2.32843 0 1.5Z' fill='black')

          span
            svg(width='35' height='3' viewBox='0 0 35 3' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M0 1.5C0 0.671573 0.671573 0 1.5 0H33.5C34.3284 0 35 0.671573 35 1.5C35 2.32843 34.3284 3 33.5 3H1.5C0.671574 3 0 2.32843 0 1.5Z' fill='black')



