.join.pt-50.pb-50.text-center(style="background-image: url('/images/dist/join_bg.webp')")
  .container
    .join__content 
      .title.fw-bold Volunteer Brand Representative Works Full Speed
      p Would you like to become fully equipped with one-to-one trainings and become an expert in communication?
      a.btn.mt-45(href="#") Join us now! 