.partners.mt-40.mb-40
  .container
    .title.fw-bold.text-center Наши партнеры
      
    
    .swiper.partners-js
      .swiper-wrapper
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-1.png", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-2.jpg", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-3.png", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-4.jpg", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-5.jpg", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-6.png", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-1.png", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-2.jpg", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-3.png", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-4.jpg", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-5.jpg", alt="")
        .swiper-slide
          .partners__item
            img(src="https://chlorela.com.ua/wp-content/uploads/2020/11/partner-6.png", alt="")