.text-img.d-flex.aling-center.justify-between
  .text-img__txt 
    .title.fw-bold About company
    p NWORK International was established at the beginning of 2016 as a result of professional efforts of 7 years, laying down the foundations in 2009. Our company has entered the sector with a high amount of investments by a professional team engaging in the real estate, tourism and a few commercial areas.
    a.btn(href="#").mt-15 Learn more 
  
  .text-img__img-wrap
    .text-img__img.d-if.align-center.justify-center 
      img(src="images/dist/text-img1.webp", alt="")
    a.btn(href="#").mt-25 Learn more 
